<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014628566526-jhhg6n2vhpapvrd3lssv50nqn23bttol.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014628566526-jhhg6n2vhpapvrd3lssv50nqn23bttol</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014628566526-nfbfqrnqpluuiqugcrbiqtpr6adm2uk6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBZqLt-1SWE7bzVzBon1WjUzugPzKWArD8</string>
	<key>GCM_SENDER_ID</key>
	<string>1014628566526</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.nightlight</string>
	<key>PROJECT_ID</key>
	<string>nightlight-b204f</string>
	<key>STORAGE_BUCKET</key>
	<string>nightlight-b204f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014628566526:ios:db7ffe4119c0677c9c6caf</string>
</dict>
</plist>